# Network Chain I

REACT_APP_ChainId=80001

# Alchemy Api URl for Polygon Mumbai Network Network

REACT_APP_ALCHEMY_POLYGON_NAME=Mumbai Polygon testnet
REACT_APP_ALCHEMY_POLYGON_API_KEY=
REACT_APP_ALCHEMY_POLYGON_SITE_URL=https://mumbai.polygonscan.com/

REACT_APP_ALCHEMY_POLYGON_SYMBOL=MATIC
 
BaseURL=http://localhost:8000

Contract_Address=0xeB7a0237E9ee6f9B05471936329b136601B96553